@mixin scale($scale) {
  @for $i from 1 through $scale {
    .scale-#{$scale}-#{$i} { width: $i / $scale * 100%; }
  }
}

@mixin scale-restriction($scale, $cutoff, $pixel-threshold) {
  @media (max-width: $pixel-threshold) {
    @for $i from 1 through $cutoff {
      .scale-#{$scale}-#{$i} { width: $i / $cutoff * 100%; }
    }

    @for $i from $cutoff+1 through $scale {
      .scale-#{$scale}-#{$i} { width: 100%; }
    }
  }
}

@mixin scaled-grid($max) {
  .scaled-grid-#{$max} {
    box-sizing: border-box;
    width: 100%;

    [class*="scale-#{$max}-"] {
      width: 100%;
    }

    @include scale($max);

    .scaled-row-wrapper {
      width: 100%;
      text-align: center;

      > * { float: left; }
      > .pull-right { float: right;}
    }
  }
}

@include scaled-grid(12);
