@import '_base';

#foreground {
  padding: $spacing-unit/2;
  @include spaced-column($spacing-unit);
}

.content-wrapper {
  @extend %horiz-centered;
  @include spaced-column($spacing-unit);
  overflow: auto;

  width: $med-width;

  &.small {
    width: $sml-width;
  }

  &.large {
    width: $lrg-width;
  }
}

.content-area {
  @extend %horiz-centered;
  @include spaced-column($spacing-unit);
  @extend %thick-border;
  overflow: auto;

  padding: $spacing-unit/2;

  &.packed {
    padding: 0px;
  }
}
