@import '_base';
@import '../latticeworks/_core';
@import '../latticeworks/_tables';
@import '../latticeworks/_util';

@include latticeworks-init;
@include lw-cells(12);

.lw-group {
  @include lw-group;
}
.lw-box {
  @include lw-box;
}

@include lw-tablefix;
@include lw-tablecells(12);

#foreground {
  padding: $spacing-unit;
  @include spaced-column($spacing-unit);
}

.content-wrapper {
  @extend %horiz-centered;
  @include spaced-column($spacing-unit);
  overflow: auto;

  width: $med-width;

  &.small {
    width: $sml-width;
  }

  &.large {
    width: $lrg-width;
  }
}

.content-area {
  @include spaced-column($spacing-unit);
  @extend %thick-border;
  overflow: auto;

  padding: $spacing-unit;

  &.packed {
    padding: 0px;
  }
}
