@import '_base';
@import 'latticeworks/core';
@import 'latticeworks/tables';
@import 'latticeworks/forms';
@import 'latticeworks/util';

@include latticeworks-init;
@include lw-cells(12);

@include lw-group;
@include lw-box(12);
@include lw-box-static(12, 1200px);

@include lw-tablefix(12);
@include lw-form(12);

#foreground {
  padding: $spacing-unit;
  @include spaced-column($spacing-unit);
}

.content-wrapper {
  @extend %horiz-centered;
  @include spaced-column($spacing-unit);
  overflow: auto;

  width: $med-width;

  &.small {
    width: $sml-width;
  }

  &.large {
    width: $lrg-width;
  }
}

.content-area {
  @include spaced-column($spacing-unit);
  @extend %thick-border;
  overflow: auto;

  padding: $spacing-unit;

  &.packed {
    padding: 0px;
  }
}
