@import '_base';

$table-border-color: #eddf36;
$table-border-width: 1px;

table {
  border-collapse: collapse;
  border: 2*$table-border-width solid $table-border-color;

  ul, dl {
    padding: 0px;
    margin: 0px;

    list-style-type: none;
  }
}

thead, tbody {
  border: 2*$table-border-width solid $table-border-color;
}

tr, th, td {
  padding: 2px 5px;
  border: $table-border-width solid $table-border-color;
}
