@import '_base';

$table-border-color: #eddf36;
$table-border-width: 1px;

table {
  border-collapse: collapse;
  border: 2*$table-border-width solid $table-border-color;

  ul, dl {
    padding: 0px;
    margin: 0px;

    list-style-type: none;
  }
}

caption {
  font-weight: bold;
  padding: 2px 5px;
}

thead, tbody {
  border-top: 2*$table-border-width solid $table-border-color;

  &:first-child,
  colgroup + & {
    border-top-width: 0px;
  }

  caption + &,
  caption + colgroup + & {
    border-top-width: $table-border-width;
  }
}

tr {
  border-top: $table-border-width solid $table-border-color;

  &:first-child {
    border-top: none;

    > th, td {
      border-top: none;
    }
  }
}

th, td {
  padding: 2px 5px;
  border: $table-border-width solid $table-border-color;
  border-bottom: none;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }
}

.content-area.packed > table {
  border: none;
  width: 100%;
}
