{% extends 'layout.j2' %}

{% block page_styles %}
  {% assets 'css_character' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock page_styles %}

{% block content %}
  <div class="content-wrapper small">
    <div class="content-area lw-box-12">
      <h3>Playable Characters</h4>
      <ul id="playable-characters" class="image-list lw-group">
      {% for character in characters %}
        <li id="{{ character.name }}" class="lw-cell-12-4">
          <a href="/characters/{{ character.name }}">
            <img src="{{ url_for('static', filename='images/characters/' + character.image) }}">
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
