{% extends 'layout.j2' %}

{% block page_styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/character.css') }}">
{% endblock page_styles %}

{% block content %}
  <div class="content-box character-colors">
    <table>
      <thead>
        <tr><th>Characters</th></tr>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for character in characters %}
          <tr>
            <td>{{ character.name }}</td>
          </tr>
        {% endfor %}{# characters #}
      </tbody>
    </table>
  </div>
{% endblock content %}
