{% from 'abilities/ability_general.j2' import ability_effect %}

{% macro simple_summon(summon) %}
  {% set num_rows = 2 + (summon.attacks | length ) %}
  <tbody id="{{ summon.name }}">
    <tr>
      <td rowspan="{{ num_rows }}">{{ summon.name }}</td>
      <td rowspan="{{ num_rows }}">{{ summon.mp_cost }}</td>
      <td class="in-game-descr" colspan="2">{{ summon.in_game_description }}</td>
    </tr>
    <tr>
      <td colspan="2">
        <ul>
          <li>Summons {{ summon.name }} to use {{ summon.attacks | map(attribute='name') | join(' or ') }}</li>
          {% if summon.notes_string %}<li>{{ summon.notes_string }}</li>{% endif %}
        </ul>
      </td>
    </tr>
    {% for attack in summon.attacks %}
      <tr>
        <td>{{ attack.name }}</td>
        <td>{{ ability_effect(attack) }}</td>
      </tr>
    {% endfor %}{# summon_attacks #}
  </tbody>
{% endmacro %}{# simple_summon #}

{% macro summon_table(summon_list) %}
  <table id="Summons" class="simple">
    <thead>
      <tr><th colspan="4">Summons</th></tr>
      <tr>
        <th rowspan="2" class="lw-seg-12-2">Name</th>
        <th rowspan="2" class="lw-seg-12-1">MP</th>
        <th colspan="2">Description</th>
      </tr>
      <tr>
        <th class="lw-seg-12-2">Attack Name</th>
        <th>Attack Effect</th>
      </tr>
    </thead>
    {% for summon in summon_list %}
      {{ simple_summon(summon) }}
    {% endfor %}{# summon_list #}
  </table>
{% endmacro %}{# summon_table #}
