{% extends 'abilities/ability_layout.j2' %}

{% from 'abilities/summons/simple_summons.j2' import summon_table %}

{% block ability_content %}
  <div class="content-area packed">
    {{ summon_table(summons) }}
  </div>
{% endblock ability_content %}
