{% from 'abilities/ability_general.j2' import ability_effect %}

{% macro simple_command(command) %}
  <tbody id="{{ command.name }}">
    <tr>
      <td rowspan="2">{{ command.name }}</td>
      <td class="in-game-descr">{{ command.in_game_description }}</td>
    </tr>
    <tr>
      <td>{{ ability_effect(command) }}</td>
    </tr>
  </tbody>
{% endmacro %}{# simple_command #}

{% macro command_table(command_list) %}
  <table id="Commands" class="simple">
    <thead>
      <tr><th colspan="2">Commands</th></tr>
      <tr>
        <th class="lw-seg-12-2">Name</th>
        <th>Effect</th>
      </tr>
    </thead>
    {% for command in command_list %}
      {{ simple_command(command) }}
    {% endfor %}{# command_list #}
  </table>
{% endmacro %}{# command_table #}
