{% extends 'items/item_layout.j2' %}

{% block title %}<title>Items - Limit Manual</title>{% endblock %}

{% macro item_table(items,table_name,table_id,with_type=false) -%}
  <table id="{{ table_id }}" class="scaled-grid-12">
    <thead>
      <tr><th colspan="3">{{ table_name }}</th></tr>
      <tr>
        <th class="scale-12-2">Name</th>
        {% if with_type %}<th class="scale-12-2">Type</th>{% endif %}
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr id="{{ item.name }}">
          <td>{{ item.name }}</td>
          {% if with_type %}<td>{{ item.item_type }}</td>{% endif %}
          <td>{{ item.description }}</td>
        </tr>
      {% endfor %}{# items #}
    </tbody>
  </table>
{% endmacro %}{# item_table #}

{% block content %}
  <div class="content-wrapper">
    <div class="content-area packed">
      {# Table for general items #}
      {{ item_table(items.general,'General Items','general',true) }}
    </div>
    <div class="content-area packed">
      {# Table for weapons #}
      {{ item_table(items.weapons,'Weapons','weapons') }}
    </div>
    <div class="content-area packed">
      {# Table for armor #}
      {{ item_table(items.armor,'Armor','armor') }}
    </div>
  </div>
{% endblock content %}
