{% extends 'items/all_items.j2' %}

{% block title %}<title>Weapons - Limit Manual</title>{% endblock %}

{% block content %}
  <div class="content-box item-colors">
    <table id="#weapons">
      <thead>
        <tr><th colspan="8">Weapons</th></tr>
        <tr>
          <th>Name</th>
          <th>Wielder</th>
          <th>Slots</th>
          <th>Growth</th>
          <th>Attack</th>
          <th>Hit%</th>
          <th>Magic</th>
          <th>Element</th>
        </tr>
      </thead>
      <tbody>
        {% for weapon in weapons %}
          <tr>
            <td>{{ weapon.name }}</td>
            <td>{{ weapon.wielder }}</td>
            <td>{{ weapon.linked_slots }},{{ weapon.single_slots }}</td>
            <td>{{ weapon.growth_rate }}</td>
            <td>{{ weapon.attack }}</td>
            <td>{{ weapon.hit_pct }}</td>
            <td>{{ weapon.magic_bonus }}</td>
            <td>{{ weapon.element }}</td>
          </tr>
        {% endfor %}{# weapons #}
      </tbody>
    </table>
  </div>
{% endblock content %}
