{% extends 'layout.j2' %}

{% block title %}<title>All Enemies - Limit Manual</title>{% endblock %}

{% block page_styles %}
  {% assets 'css_enemy' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock page_styles %}

{% macro enemy_link(name,version,version_link=false) -%}
  <a href="/enemies/{{name}}?version={{version}}">{{ version if version_link else name }}</a>
{%- endmacro %}

{% block content %}
  <div class="content-box small enemy-colors">
    <table>
      <tr class="lighter">
        <th>Name</th>
        <th>Versions</th>
      </tr>
      {% for enemy in enemies %}
        <tr>
          <td>{{ enemy.name }}</td>
          <td>
            <ul>
              {% for version in enemy.versions %}
                <li>{{ enemy_link(enemy.name,version,version_link=true) }}</li>
              {% endfor %}{# versions #}
            </ul>
          </td>
        </tr>
      {% endfor %}
  </div>
{% endblock %}{# content #}
