{% extends 'layout.j2' %}

{% block title %}<title>Enemy: {{ enemy.name }} - Limit Manual</title>{% endblock %}

{% block page_styles %}
  {% assets 'css_enemy' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock page_styles %}

{% macro stat_kvp(stat, value) -%}
  <th class="lighter">{{ stat }}</th>
  <td>{{ value }}</td>
{%- endmacro %}

{% macro enemy_link(name,version,version_link=false) -%}
  <a href="/enemies/{{name}}?version={{version}}">{{ version if version_link else name }}</a>
{%- endmacro %}

{% block content %}
<div class="content-wrapper small">
  <div id="stat-box" class="content-area">
    {# left block #}
    {# Enemy Image #}
    <div class="lw-cell-12-4">
      <img src="{{ url_for('static', filename=enemy.image) }}" alt="Enemy model: {{ enemy.name }}">
    </div>

    {# Enemy Version Info #}
    <h2 class="lw-cell-12-8">
      {{ enemy.name }}
      <small>{{ enemy.version }}</small>
    </h2>

    <p class="lw-cell-12-8">{{ enemy.description }}</p>
    {# end left block #}

    {# Links to other versions #}
    {% if (enemy.other_versions|length) > 0 %}
      <div class="lw-cell-12-4 lw-float-right">
        <table id="other-versions">
          <caption>Other Versions</caption>
          <tbody>
            {% for version in enemy.other_versions %}
              <tr><td>
                {{ enemy_link(enemy.name,version,version_link=true) }}
              </td></tr>
            {% endfor %}{# other_versions #}
          </tbody>
        </table>
      </div>
    {% endif %}{# other_versions #}

    <div class="lw-group">
      {# Stats #}
      <div class="lw-cell-12-4 clear-left">
        <table id="stats">
          <caption>Stats</caption>
          <tbody>
            <tr>
              {{ stat_kvp('Level', enemy.stats.level) }}
            </tr><tr>
              {{ stat_kvp('Version', enemy.version) }}
            </tr>
            <tr>
              {{ stat_kvp('HP', enemy.stats.hp) }}
            </tr><tr>
              {{ stat_kvp('MP', enemy.stats.mp) }}
            </tr>
            <tr>
              {{ stat_kvp('Attack', enemy.stats.attack) }}
            </tr><tr>
              {{ stat_kvp('Magic Attack', enemy.stats.magic_attack) }}
            </tr>
            <tr>
              {{ stat_kvp('Defense', enemy.stats.defense) }}
            </tr><tr>
              {{ stat_kvp('Magic Defense', enemy.stats.magic_defense) }}
            </tr>
            <tr>
              {{ stat_kvp('Defense%', enemy.stats.defense_pct) }}
            </tr><tr>
              {{ stat_kvp('Magic Defense%', enemy.stats.magic_defense_pct) }}
            </tr>
            <tr>
              {{ stat_kvp('Dexterity', enemy.stats.dexterity) }}
            </tr><tr>
              {{ stat_kvp('Luck', enemy.stats.luck) }}
            </tr>
          </tbody>
        </table>
      </div>

      <div class="lw-cell-12-4">
        {# Items #}
        <table id="items">
          <caption>Items</caption>
          <tbody>
            {% if (enemy.items.drop|length) > 0 %}
              <tr>
                <th class="lighter">Drop</th>
                <td>
                  <ul>
                    {% for item in enemy.items.drop %}
                      <li>{{ item[0] }} [{{ item[1] }}]</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
            {% endif %}{# drop #}

            {% if (enemy.items.steal|length) > 0 %}
            <tr>
              <th class="lighter">Steal</th>
              <td>
                <ul>
                  {% for item in enemy.items.steal %}
                    <li>{{ item[0] }} [{{ item[1] }}]</li>
                  {% endfor %}
                <ul>
              </td>
            </tr>
            {% endif %}{# steal #}

            {% if enemy.items.morph %}
              <tr>{{ stat_kvp('Morph',enemy.items.morph) }}</tr>
            {% endif %}{# morph #}
          </tbody>
        </table>
      </div>

      {# Rewards for defeating enemy #}
      <div class="lw-cell-12-4">
        <table id="rewards">
          <caption>Rewards</caption>
          <tbody>
            <tr>{{ stat_kvp("EXP", enemy.rewards.exp) }}</tr>
            <tr>{{ stat_kvp("AP", enemy.rewards.ap) }}</tr>
            <tr>{{ stat_kvp("Gil", enemy.rewards.gil) }}</tr>
          </tbody>
        </table>
      </div>

      {# Elemental Affinities #}
      {% if (enemy.elemental_modifiers|length) > 0 %}
        <div class="lw-cell-12-4">
          <table id="elemental-modifiers">
            <caption>Elemental Modifiers</caption>
            <tbody>
              {% for element in enemy.elemental_modifiers %}
                <tr>{{ stat_kvp(element.element, element.modifier) }}</tr>
              {% endfor %}{# elements #}
            </tbody>
          </table>
        </div>
      {% endif %}{# elements #}

      {% if (enemy.status_immunities|length) > 0 %}
        <div class="lw-cell-12-4">
          <table id="status-immunities">
            <caption>Status Immunities</caption>
            <tbody>
              <tr><td>{{ enemy.status_immunities | join(', ') }}</td></tr>
            </tbody>
          </table>
        </div>
      {% endif %}{# statuses #}

      {% if (formations|length) > 0 %}
      <div class="lw-cell-12-8">
          <table id="formations">
            <caption>Formations</caption>
            <thead>
              <tr>
                <th class="lighter">Locations</th>
                <th class="lighter">Enemies</th>
                <th class="lighter">Attack Type</th>
              </tr>
            </thead>
            <tbody>
              {% for formation in formations %}
                <tr>
                  <td><dl>
                    {% for location in formation.locations %}
                      <dt>{{ location }}</dt>
                      <dd>{{ formation.locations[locations] | join(', ') }}</dd>
                    {% endfor %}{# locations #}
                  </dl></td>
                  <td>
                    {# improve this display setup #}
                    <ul>
                      {% for row_num in formation.enemy_rows %}
                        <li>
                          {% for enemy in formation.enemy_rows[row_num] %}{{ enemy_link(enemy[0], enemy[1]) }} {% endfor %}
                        </li>
                      {% endfor %}{# rows #}
                    </ul>
                  </td>
                  <td>{{ formation.attack_type }}</td>
                </tr>
              {% endfor %}{# formations #}
            </tbody>
          </table>
      </div>
      {% endif %}{# formations #}
    </div>{# end version info #}
    {# end right block #}
  </div>
</div>
{% endblock content%}
