{% extends 'layout.j2' %}

{% block title %}<title>Enemy: {{ enemy.name }} - Limit Manual</title>{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/enemy.css') }}">
{% endblock page_styles %}

{% macro stat_kvp(stat, value) -%}
  <th class="lighter">{{ stat }}</th>
  <td>{{ value }}</td>
{%- endmacro %}

{% macro enemy_link(name,version,version_link=false) -%}
  <a href="/enemies/{{name}}?version={{version}}">{{ version if version_link else name }}</a>
{%- endmacro %}

{% block content %}
  <div id="stat-box" class="content-box enemy-colors">
    {# left block #}
    <div class="left">
      {# Enemy Image #}
      <img src="{{ url_for('static', filename=enemy.image) }}" alt="Enemy model: {{ enemy.name }}">

      {# Enemy Version Info #}
      <table id="info">
        <tbody>
          <tr>{{ stat_kvp('Name', enemy.name) }}</tr>
          <tr>{{ stat_kvp('Version', enemy.version) }}</tr>
        </tbody>
      </table>

      {# Links to other versions #}
      {% if (enemy.other_versions|length) > 0 %}
        <table id="other-versions">
          <thead>
            <tr><th class="lighter">Other Versions</th></tr>
          </thead>
          <tbody>
            {% for version in enemy.other_versions %}
              <tr><td>
                {{ enemy_link(enemy.name,version,version_link=true) }}
              </td></tr>
            {% endfor %}{# other_versions #}
          </tbody>
        </table>
      {% endif %}{# other_versions #}

      {# Rewards for defeating enemy #}
      <table id="rewards">
        <thead><tr>
          <th class="lighter" colspan="2">Rewards</th>
        </tr></thead>
        <tbody>
          <tr>{{ stat_kvp("EXP", enemy.rewards.exp) }}</tr>
          <tr>{{ stat_kvp("AP", enemy.rewards.ap) }}</tr>
          <tr>{{ stat_kvp("Gil", enemy.rewards.gil) }}</tr>
        </tbody>
      </table>

      {# Items #}
      <table id="items">
        <thead><tr>
          <th colspan="2">Items</th>
        </tr></thead>
        <tbody>
          {% if (enemy.items.drop|length) > 0 %}
            <tr>
              <th class="lighter">Drop</th>
              <td>
                <ul>
                  {% for item in enemy.items.drop %}
                    <li>{{ item[0] }} [{{ item[1] }}]</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endif %}{# drop #}

          {% if (enemy.items.steal|length) > 0 %}
          <tr>
            <th class="lighter">Steal</th>
            <td>
              <ul>
                {% for item in enemy.items.steal %}
                  <li>{{ item[0] }} [{{ item[1] }}]</li>
                {% endfor %}
              <ul>
            </td>
          </tr>
          {% endif %}{# steal #}

          {% if enemy.items.morph %}
            <tr>{{ stat_kvp('Morph',enemy.items.morph) }}</tr>
          {% endif %}{# morph #}
        </tbody>
      </table>
    </div>{# div.left #}

    <div class="right">
      <p>{{ enemy.description }}</p>

      {# Stats #}
      <table id="stats">
        <thead>
          <tr><th class="lighter" colspan=4>Stats</th></tr>
        </thead>
        <tbody>
          <tr>
            {{ stat_kvp('Level', enemy.stats.level) }}
            {{ stat_kvp('Version', enemy.version) }}
          </tr>
          <tr>
            {{ stat_kvp('HP', enemy.stats.hp) }}
            {{ stat_kvp('MP', enemy.stats.mp) }}
          </tr>
          <tr>
            {{ stat_kvp('Attack', enemy.stats.attack) }}
            {{ stat_kvp('Magic Attack', enemy.stats.magic_attack) }}
          </tr>
          <tr>
            {{ stat_kvp('Defense', enemy.stats.defense) }}
            {{ stat_kvp('Magic Defense', enemy.stats.magic_defense) }}
          </tr>
          <tr>
            {{ stat_kvp('Defense%', enemy.stats.defense_pct) }}
            {{ stat_kvp('Magic Defense%', enemy.stats.magic_defense_pct) }}
          </tr>
          <tr>
            {{ stat_kvp('Dexterity', enemy.stats.dexterity) }}
            {{ stat_kvp('Luck', enemy.stats.luck) }}
          </tr>
        </tbody>
      </table>

      {# Elemental Affinities #}
      {% if (enemy.elemental_modifiers|length) > 0 %}
        <table id="elemental-modifiers">
          <thead>
            <tr><th class="lighter" colspan="2">Elemental Modifiers</th></tr>
          </thead>
          <tbody>
            {% for element in enemy.elemental_modifiers %}
              <tr>{{ stat_kvp(element.element, element.modifier) }}</tr>
            {% endfor %}{# elements #}
          </tbody>
        </table>
      {% endif %}{# elements #}

      {% if (enemy.status_immunities|length) > 0 %}
        <table id="status-immunities">
          <thead>
            <tr><th class="lighter">Status Immunities</th></tr>
          </thead>
          <tbody>
            <tr><td>{{ enemy.status_immunities | join(', ') }}</td></tr>
          </tbody>
        </table>
      {% endif %}{# statuses #}

      {% if (formations|length) > 0 %}
        <table id="formations">
          <thead>
            <tr><th class="lighter" colspan="2">Formations</th></tr>
            <tr>
              <th class="lighter">Locations</th>
              <th class="lighter">Enemies</th>
            </tr>
          </thead>
          <tbody>
            {% for formation in formations %}
              <tr>
                <td><dl>
                  {% for location in formation.locations %}
                    <dt>{{ location }}</dt>
                    <dd>{{ formation.locations[locations] | join(', ') }}</dd>
                  {% endfor %}{# locations #}
                </dl></td>
                <td>
                  {# improve this display setup #}
                  <ul>
                    {% for row_num in formation.enemy_rows %}
                      <li>
                        {% for enemy in formation.enemy_rows[row_num] %}{{ enemy_link(enemy[0], enemy[1]) }} {% endfor %}
                      </li>
                    {% endfor %}{# rows #}
                  </ul>
                </td>
              </tr>
            {% endfor %}{# formations #}
          </tbody>
        </table>
      {% endif %}{# formations #}

    </div>{# div.right #}
  </div>
{% endblock content%}
