.ability-colors {
  background-color: #050800;
  color: #c7a0a0; }
  .ability-colors table, .ability-colors table > tbody {
    border-color: #355400; }
    .ability-colors table thead {
      background-color: #152200; }
      .ability-colors table tr.data {
        background-color: #0d1500; }
        .ability-colors table tr {
          border-color: #253b00; }
          .ability-colors table th, .ability-colors table td {
            text-align: center;
            border-color: #253b00; }

.statuses {
  max-width: 250px; }

  .simple td {
    width: 75px; }
    .simple td:last-child {
      text-align: right;
      width: auto; }

.in-game-descr {
  font-style: italic; }

  ul {
    list-style-type: none; }
