.ability-colors {
  background-color: #070900;
  color: #c7a0a0;
}

/*.ability-colors .emphasis {
  background-color: #071910;
}*/

.ability-colors thead {
  background-color: #1b2100;
}

.ability-colors tr.data>* {
  background-color: #14160b;
}

table {
  border-color: #545428;
  margin-top: 10px;
}

tr, th, td {
  border-color: #343408;
}

tr.boundary {
  border-top: 2px solid #545428;
}

th, td {
  text-align: center;
}

.statuses {
  max-width: 250px;
}

.simple td {
  width: 75px;
}

.simple td:last-child {
  text-align: right;
  width: auto;
}

.in-game-descr {
  font-style: italic;
}

ul {
  list-style-type: none;
}
