.action-colors {
  background-color: #070900;
  color: #c7a0a0;
}

table, tr, th, td {
  border-color: #343408;
}

.action-name {
  text-align: center;
}

dt, dd {
  display: inline-block;
  margin-left: 5px;
}
