body {
  background-color: #0000b0;
  color: white;
  margin: 0px;
}

/* primary page content formatting */
.content-box {
  overflow: auto;
  width: 800px;
  padding: 10px;
  margin: auto;

  border: 5px solid #eee;
  border-radius: 10px;
}

.content-box>* {
  margin-top: 10px;
  width: 100%;
}

.content-box>*:first-child {
  margin-top: auto;
}

/* global site midgar background */
#background {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#background > img {
  width: 100%;
  height: 100%;
}

/* global site foreground spacing */
#foreground {
  padding: 5px;
}

#foreground > * {
  margin-bottom: 5px;
}

#foreground > *:last-child {
  margin-bottom: 0px;
}

/* site banner */
.menu-colors, .default-colors {
  background-color: #0000b0;
  color: white;
}

.menu {
  border: 5px solid #eee;
  border-radius: 10px;
  font-family: Verdana, sans-serif;
}

/* unused as of now, being kept so I can remember these color codes */
.menu-ulc { background-color: #0000B0; } /* blue = 176 = 128 + 32 + 16 = 0b10110000 */
.menu-llc { background-color: #000050; } /* blue = 80 = 64 + 16 = 0b01010000 */
.menu-urc { background-color: #000080; } /* blue = 128 = 128 = 0b10000000 */
.menu-lrc { background-color: #000040; } /* blue = 32 = 32 = 0b00100000 */

.banner {
  overflow: auto;
}

.banner>a>img {
  height: 80px;
  float: left;
}
.banner>a>h1 {
  float: left;
  font-size: 44px;
  font-weight: normal;
  height: 50px;
  margin: 15px auto;
}

.banner a {
  color: #eee;
  text-decoration: none;
}

ul.menu-nav {
  list-style-type: none;
  float: right;
  height: 20px;
  margin: 30px 10px;
}
ul.menu-nav > li {
  display: inline;
  margin: 0px 3px;
}

/* common table properties */
table {
  border-collapse: collapse;
  border: 2px solid #eddf36;
}

th, td {
  padding: 2px 5px;
  border: 1px solid #eddf36;
}

table ul,
table dl {
  padding: 0px;
  margin: 0px;

  list-style-type: none;
}
