.item-colors {
  background-color: #16065f;
  color: #f9ec86;
}

.content-box>* {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.content-box>*:first-child {
  margin-top: 0px;
}

table, th, td {
  border-color: #f9ec86;
}
