{% extends 'layout.j2' %}

{% block page_styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/action.css') }}">
{% endblock page_styles %}

{% macro damage_format(damage) %}
{% endmacro %}

{% macro ability_format(ability) %}
  {# determine how many rows you need in this table #}
  {% set num_rows = 3 %}
  {% set num_columns = 4 %}

  <tr>
    <th rowspan="{{ num_rows }}">{{ ability.name }}</th>
    <td colspan="{{ num_columns-1 }}">{{ ability.description }}</td>
  </tr>
  <tr>
    <th>Category</th>
    <th>Hit Formula</th>
    <th>Element</th>
  </tr>
  <tr>
    <td>{{ ability.category }}</td>
    <td>{{ ability.hit_formula }}</td>
    <td>{{ ability.element }}</td>
  </tr>
{% endmacro %}

{% block content %}
  <div class="content-box action-colors">
    <table class="full-width">
      <thead>
        <tr><th colspan="4">All Abilities</th></tr>
      </thead>
      <tbody>
        {% for ability in abilities %}
          {{ ability_format(ability) }}
        {% endfor %}{# abilitys #}
      </tbody>
    </table>
  </div>
{% endblock content %}
