{% extends 'layout.j2' %}

{% block page_styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/action.css') }}">
{% endblock page_styles %}

{% macro damage_format(damage) %}
  {{ damage.power }} power
  {% if damage.element and damage.element not in ['', 'Hidden']%}{{ damage.element }}-elemental{% endif %}
  {{ damage.damage_type }} damage
  {% if not damage.split %}[no-split]{% endif %}
{% endmacro %}

{% macro action_format(action) %}
  {% set is_spell = (action.category in ['Spell','Summon','Enemy Skill']) %}
  {% set rowspan = 3 if is_spell else 2 %}
  <tr>
    <td rowspan="{{ rowspan }}" class="action-name">{{ action.name }}</td>
    <td>{{ action.category }}</td>
    <td>{{ action.description }}</td>
  </tr>
  {% if is_spell %}
    <tr>
      <td colspan="2">MP Cost: {{ action.spell_info.mp_cost }}</td>
    </tr>
  {% endif %}{# is_spell #}
  <tr>
    <td colspan="2">
      <dl>
        {% for effect in action.effects %}
          {% if effect.type == 'damage' %}
            <dd>{{ damage_format(effect.info) }}</dt><br>
          {% elif effect.type == 'status' %}
            <dt>{{ effect.info.mode }}:</dt>
            <dd>
              {{ effect.statuses | join(', ') }}
              {% if effect.info.accuracy != 0 and effect.info.accuracy != 255 %}
                [{{ effect.info.accuracy }}% chance]
              {% endif %}
            </dd>
            <br>
          {% endif %}{# effect type #}
        {% endfor %}{# effects #}
      </dl>
    </td>
  </tr>
{%- endmacro %}

{% block content %}
  <div class="content-box action-colors">
    <table class="full-width">
      <thead>
        <tr><th colspan="3">All Actions</th></tr>
      </thead>
      <tbody>
        {% for action in actions %}
          {{ action_format(action) }}
        {% endfor %}{# actions #}
      </tbody>
    </table>
  </div>
{% endblock content %}
