{% extends 'layout.j2' %}

{% block page_styles %}
  {% assets 'css_ability' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock page_styles %}

{% block content %}
  <div class="content-wrapper large">
    {% block ability_content %}{% endblock %}
  </div>
{% endblock content %}
