{% extends 'layout.j2' %}

{% block page_styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ability.css') }}">
{% endblock page_styles %}

{% macro damage_format(damage) %}
  <tr class="label">
    <th>Formula</th>
    <th>Power</th>
    <th>Physical</th>
    <th>Piercing</th>
  </tr>
  <tr class="data">
    <td>{{ damage.formula }}</td>
    <td>{{ damage.power }}</td>
    <td>{{ damage.physical }}</td>
    <td>{{ damage.piercing }}</td>
  </tr>
{% endmacro %}{# damage_format #}

{% macro status_format(status_list,mode,chance) %}
  <tr class="label">
    <th colspan="2">Statuses</th>
    <th>Mode</th>
    <th>Accuracy</th>
  </tr>
  <tr class="data">
    <td colspan="2" class="statuses">{{ status_list | join(', ') }}</td>
    <td>{{ mode }}</td>
    <td>{{ chance if chance != 256 else "Auto" }}</td>
  </tr>
{% endmacro %}{# status_format #}

{% macro magic_format(spell) %}
  {# determine how many rows you need for this spell #}
  {% set has_statuses = (spell.statuses) %}
  {% set has_damage = (spell.damage != None) %}
  {% set num_rows = 5+(2 if has_damage else 0)+(2 if has_statuses else 0) %}
  {% set num_columns = 5 %}

  <tbody id="{{ spell.name }}">
    <tr class="data">
      <th rowspan="{{ num_rows }}">{{ spell.name }}</th>
      <td colspan="{{ num_columns-1 }}" class="description">{{ spell.description }}</td>
    </tr>
    <tr class="label">
      <th>Spell Type</th>
      <th>MP Cost</th>
      <th>Reflectable</th>
      <th>Split Effect</th>
    </tr>
    <tr class="data">
      <td>{{ spell.spell_type }}</td>
      <td>{{ spell.mp_cost }}</td>
      <td>{{ spell.reflectable }}</td>
      <td>{{ spell.split }}</td>
    </tr>
    <tr class="label">
      <th>Element</th>
      <th>Accuracy</th>
      <th>Targets</th>
      <th>Suggested Target</th>
    </tr>
    <tr class="data">
      <td>{{ spell.element }}</td>
      <td>{{ spell.accuracy if spell.accuracy != 256 else "Auto Hit" }}</td>
      <td>{{ spell.num_targets if spell.num_targets != 0 else "All" }}</td>
      <td>{{ spell.default_target_group }}</td>
    </tr>

    {% if has_statuses %}{{ status_format(spell.statuses.list, spell.statuses.mode, spell.statuses.chance) }}{% endif %}
    {% if has_damage %}{{ damage_format(spell.damage) }}{% endif %}
  </tbody>
{% endmacro %}

{% macro spell_group(group_name,spell_list) %}
  <table id="{{ group_name | escape }}">
    <thead>
      <tr><th colspan="5" class="section-header">{{ group_name }}</th></tr>
    </thead>

    {% for spell in spell_list %}
      {{ magic_format(spell) }}
    {% endfor %}{# spell #}
  </table>
{% endmacro %}{# spell_group #}
