{% extends 'abilities/ability_layout.j2' %}

{% from 'abilities/magic/simple_spells.j2' import spell_table %}
{% from 'abilities/summons/simple_summons.j2' import summon_table %}

{% block content %}
  <div class="content-box ability-colors">
    {{ spell_table('All Spells',spells, 'Spells') }}
    {{ summon_table(summons) }}
  </div>
{% endblock content %}
