$ability-color-1: #050800;
$ability-color-2: #c7a0a0;

.content-area {
  background-color: $ability-color-1;
  color: $ability-color-2;
}

table {
  &, > thead, > tbody {
    border-color: lighten($ability-color-1, 15%);
  }

  caption, thead {
    background-color: lighten($ability-color-1, 5%);
  }

  tr.data {
    background-color: lighten($ability-color-1, 2.5%);
  }

  tr {
    border-color: lighten($ability-color-1, 10%);
  }

  th, td {
    text-align: center;
    border-color: lighten($ability-color-1, 10%);
  }
}

.statuses {
  max-width: 250px;
}

.simple td:last-child {
  text-align: right;
}

.in-game-descr {
  font-style: italic;
}

ul {
  list-style-type: none;
}
