@import "main/_base";

$enemy-color-1: #740000;
$enemy-color-2: #decec1;

.content-area {
  background-color: $enemy-color-1;
  color: $enemy-color-2;
}

.lighter {
  color: lighten($enemy-color-2, 50%);
}

table, thead, tbody, th, tr, td {
  border-color: $enemy-color-2;
}

#stat-box {
  .left {
    float: left;
    width: 200px;
    margin-right: $spacing-unit;

    @include spaced-column($spacing-unit);
  }

  .right {
    display: inline-block;
    float: right;
    width: #{$sml-width - 3*$spacing-unit - 200px};

    @include spaced-column($spacing-unit);
  }

  img { background-color: darken($enemy-color-2, 10%); }

  tbody th { text-align: left; }
  td { text-align: right; }

  #other-versions td { text-align: center; }

  #formations {
    td { text-align: center; }
    ul > li, dl > * { margin: 0px; }
  }

  #status-immunities td { text-align: left; }
}
