@import "main/_base";
@import "latticeworks/_core";
@import "latticeworks/_forms";

$enemy-color-1: #740000;
$enemy-color-2: #decec1;

.content-area {
  background-color: $enemy-color-1;
  color: $enemy-color-2;
}

.lighter {
  color: lighten($enemy-color-2, 50%);
}

table, thead, tbody, th, tr, td {
  border-color: $enemy-color-2;
}

form > .field {
  @include lw-form-field;
}

#stat-box {

  * {
    margin: 0px;
  }

  small {
    &::before {
      content: " - ";
    }
  }

  p {
    text-align: center;
  }

  @include lw-cells-pad(12, $spacing-unit/2);

  img { background-color: darken($enemy-color-2, 10%); }

  .no-float {
    float: none;
  }

  .clear-left {
    clear: left;
  }

  [class*="lw-cell-"] {
    > img {
      display: block;
      float: left;
      width: 100%;
    }

    > table {
      width: 100%;
    }

    > * {
      margin-top: 5px;
      &:first-child {
        margin-top: 0px;
      }
    }
  }

  caption {
    @extend .lighter;
  }

  tbody th { text-align: left; }
  td { text-align: right; }

  #other-versions td { text-align: center; }

  #formations {
    td { text-align: center; }
    ul > li, dl > * { margin: 0px; }
  }

  #status-immunities td { text-align: left; }
}
