{% extends 'abilities/ability_layout.j2' %}

{% from 'abilities/enemy_skills/simple_eskills.j2' import eskill_table %}

{% block content %}
  <div class="content-box packed">
    {{ eskill_table(eskills) }}
  </div>
{% endblock content %}
