{% extends 'abilities/ability_layout.j2' %}

{% from 'abilities/enemy_skills/simple_eskills.j2' import eskill_table %}

{% block ability_content %}
  <div class="content-area packed">
    {{ eskill_table(eskills) }}
  </div>
{% endblock ability_content %}
