{% from 'abilities/ability_general.j2' import ability_effect %}

{% macro simple_eskill(eskill) %}
  <tbody id="{{ eskill.name }}">
    <tr>
      <td rowspan="2">{{ eskill.name }}</td>
      <td rowspan="2">{{ eskill.mp_cost }}</td>
      <td rowspan="2">
        <ul>
          {% for user in eskill.users %}
            <li>{{ user }}</li>
          {% endfor %}{# eskill.users #}
        </ul>
      </td>
      <td class="in-game-descr">{{ eskill.in_game_description }}</td>
    </tr>
    <tr>
      <td>{{ ability_effect(eskill) }}</td>
    </tr>
  </tbody>
{% endmacro %}{# simple_eskill #}

{% macro eskill_table(eskill_list) %}
  <table id="Enemy Skills" class="simple">
    <caption>Enemy Skills</caption>
    <colgroup>
      <col class="lw-seg-12-2"></col>
      <col class="lw-seg-12-1"></col>
      <col class="lw-seg-12-2"></col>
      <col></col>
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
        <th>MP</th>
        <th>Users</th>
        <th>Effect</th>
      </tr>
    </thead>
    {% for eskill in eskill_list %}
      {{ simple_eskill(eskill) }}
    {% endfor %}{# eskill_list #}
  </table>
{% endmacro %}{# eskill_table #}
