{% from 'abilities/ability_general.j2' import ability_effect %}

{% macro simple_eskill(eskill) %}
  <tbody id="{{ eskill.name }}">
    <tr>
      <td rowspan="3">{{ eskill.name }}</td>
      <td rowspan="3">{{ eskill.mp_cost }}</td>
      <td class="in-game-descr">{{ eskill.in_game_description }}</td>
    </tr>
    <tr>
      <td>{{ ability_effect(eskill) }}</td>
    </tr>
    <tr>
      <td>Used by {{ eskill.users | join(', ') }}</td>
    </tr>
  </tbody>
{% endmacro %}{# simple_eskill #}

{% macro eskill_table(eskill_list) %}
  <table id="Enemy Skills" class="simple">
    <thead>
      <tr><th colspan="3">Enemy Skills</th></tr>
      <tr>
        <th>Name</th>
        <th>MP Cost</th>
        <th>Effect</th>
      </tr>
    </thead>
    {% for eskill in eskill_list %}
      {{ simple_eskill(eskill) }}
    {% endfor %}{# eskill_list #}
  </table>
{% endmacro %}{# eskill_table #}
