{% macro spell_statuses(status_list,mode,chance) %}
  <tr class="label">
    <th colspan="2">Statuses</th>
    <th>Mode</th>
    <th>Accuracy</th>
  </tr>
  <tr class="data">
    <td colspan="2" class="statuses">{{ status_list | join(', ') }}</td>
    <td>{{ mode }}</td>
    <td>{{ chance if chance != 256 else "Auto" }}</td>
  </tr>
{% endmacro %}{# spell_statuses #}

{% macro spell_damage(damage) %}
  <tr class="label">
    <th>Damage Formula</th>
    <th>Power</th>
    <th>Physical</th>
    <th>Piercing</th>
  </tr>
  <tr class="data">
    <td>{{ damage.formula }}</td>
    <td>{{ damage.power }}</td>
    <td>{{ damage.physical }}</td>
    <td>{{ damage.piercing }}</td>
  </tr>
{% endmacro %}{# spell_damage #}

{% macro detail_spell(spell) %}
  {# determine how many rows you need for this spell #}
  {% set has_statuses = (spell.statuses) %}
  {% set has_damage = (spell.damage != None) %}
  {% set num_rows = 5+(2 if has_damage else 0)+(2 if has_statuses else 0) %}
  {% set num_columns = 5 %}

  <tbody id="{{ spell.name }}">
    <tr class="data">
      <th rowspan="{{ num_rows }}">{{ spell.name }}</th>
      <td colspan="{{ num_columns-1 }}" class="in-game-descr">{{ spell.in_game_description }}</td>
    </tr>
    <tr class="label">
      <th>Spell Type</th>
      <th>MP Cost</th>
      <th>Reflectable</th>
      <th>Split Effect</th>
    </tr>
    <tr class="data">
      <td>{{ spell.spell_type }}</td>
      <td>{{ spell.mp_cost }}</td>
      <td>{{ spell.reflectable }}</td>
      <td>{{ spell.split }}</td>
    </tr>
    <tr class="label">
      <th>Element</th>
      <th>Accuracy</th>
      <th># Attacks</th>
      <th>Friendly</th>
    </tr>
    <tr class="data">
      <td>{{ spell.element }}</td>
      <td>{{ spell.accuracy if spell.accuracy != 256 else "Auto Hit" }}</td>
      <td>{{ spell.num_attacks if spell.num_attacks != 0 else "None" }}</td>
      <td>{{ spell.friendly }}</td>
    </tr>

    {% if has_statuses %}{{ spell_statuses(spell.statuses.list, spell.statuses.mode, spell.statuses.chance) }}{% endif %}
    {% if has_damage %}{{ spell_damage(spell.damage) }}{% endif %}
  </tbody>
{% endmacro %}

{% macro spell_table(name,spell_list,html_id=none) %}
  {% set html_id = html_id if html_id is not none else name %}
  <table id="{{html_id}}">
    <thead>
      <tr><th colspan="5">{{ name }}</th></tr>
    </thead>

    {% for spell in spell_list %}
      {{ detail_spell(spell) }}
    {% endfor %}{# spell #}
  </table>
{% endmacro %}{# spell_table #}

{{ spell_table('All Spells',spells,'Spells') }}
