{% from 'abilities/ability_general.j2' import ability_effect %}

{% macro simple_spell(spell) %}
  <tbody id="{{ spell.name }}">
    <tr>
      <td rowspan="2">{{ spell.name }}</td>
      <td rowspan="2">{{ spell.mp_cost }}</td>
      <td rowspan="2">{{ spell.spell_type }}</td>
      <td class="in-game-descr">{{ spell.in_game_description }}</td>
    </tr>
    <tr>
      <td>{{ ability_effect(spell) }}</td>
    </tr>
  </tbody>
{% endmacro %}{# simple_spell #}

{% macro spell_table(name,spell_list,html_id=none) %}
  {% set html_id = html_id if html_id is not none else name %}
  <table id="{{html_id}}" class="grid-wrapper simple">
    <thead>
      <tr><th colspan="4">{{ name }}</th></tr>
      <tr class="grid-size-control">
        <th class="grid-size-2">Name</th>
        <th class="grid-size-1">MP</th>
        <th class="grid-size-1">Type</th>
        <th>Effect</th>
      </tr>
    </thead>
    {% for spell in spell_list %}
      {{ simple_spell(spell) }}
    {% endfor %}{# spell_list #}
  </table>
{% endmacro %}{# spell_table #}
