{% macro spell_effect(spell) %}
  <ul>
    {% if spell.notes_string %}
      <li>{{ spell.notes_string | capitalize }}</li>
    {% endif %}
    {% if spell.statuses %}
      <li>
        {{ spell.statuses.mode }} {{ spell.statuses.list | join(', ') }}
        {% if spell.statuses.mode in ['Inflict'] %}[{{ (spell.statuses.chance*100)//256 }}%]{% endif %}
      </li>
    {% endif %}{# has_statuses #}
    {% if spell.damage_text %}
      <li>{{ spell.damage_text }}</li>
    {% endif %}{# has_damage #}
  </dl>
{% endmacro %}{# spell_effect #}

{% macro simple_spell(spell) %}
  <tbody id="{{ spell.name }}">
    <tr>
      <td rowspan="2">{{ spell.name }}</td>
      <td rowspan="2">{{ spell.mp_cost }}</td>
      <td rowspan="2">{{ spell.spell_type }}
      <td class="in-game-descr">{{ spell.in_game_description }}</td>
    </tr>
    <tr>
      <td>{{ spell_effect(spell) }}</td>
    </tr>
  </tbody>
{% endmacro %}{# simple_spell #}

{% macro spell_table(name,spell_list,html_id=none) %}
  {% set html_id = html_id if html_id is not none else name %}
  <table id="{{html_id}}" class="simple">
    <thead>
      <tr><th colspan="4">{{ name }}</th></tr>
      <tr>
        <th>Name</th>
        <th>MP Cost</th>
        <th>Spell Type</th>
        <th>Effect</th>
      </tr>
    </thead>
    {% for spell in spell_list %}
      {{ simple_spell(spell) }}
    {% endfor %}{# spell_list #}
  </table>
{% endmacro %}{# spell_table #}

{{ spell_table('All Spells',spells,'Spells') }}
