{% extends 'layout.j2' %}

{% block title %}<title>{{ name }} - Limit Manual</title>{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/character.css') }}">
{% endblock page_styles %}

{% block content %}
  <div id="intro-box">
    <img class="portrait" src="{{ url_for('static', filename=introbox.image) }}" alt="Character portrait">
    <table>
      <tbody>
        {% for item in introbox.info %}
          <tr>
            <th>{{ item[0] }}:</th>
            <td>{{ item[1] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="description">{{ introbox.description }}</p>
  </div>
{% endblock content %}
