<!DOCTYPE html>
<html>
  <head>
    {% block title %}<title>Limit Manual - A FFVII Info Site</title>{% endblock title %}
    
    {% assets 'css_main' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    {% block page_styles %}{% endblock %}
    {% block page_scripts %}{% endblock %}
  </head>

  <body>
    <div id="background">
      <img src="{{ url_for('static', filename='images/ffvii-midgar.jpg') }}">
    </div>

    <div id="foreground">
      {# page banner #}
      <div class="banner menu menu-colors">
        <a href="/">
          <img src="{{ url_for('static', filename='images/ffvii-logo-banner.png') }}">
          <h1>Limit Manual</h1>
        </a>
        <ul class="menu-nav">
          <li><a href="/characters">Characters</a></li>
          <li><a href="/enemies">Enemies</a></li>
          <li><a href="/abilities">Abilities</a></li>
          <li><a href="/items">Items</a></li>
          <li><a href="#materia">Materia</a></li>
          <li><a href="#mechanics">Mechanics</a></li>
        </ul>
      </div>
      {# page content #}
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>
